html, body {
	height: 100%;
	width: 100%;
}

.background {
	height: 95%;
	width: 100%;
	background-image: url("imgs/W95BG.png");
}

.gameContainer {
	height: 20%;
	width: 20%;
	display: block;
	margin: 0 auto;
}

table {
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}