<!DOCTYPE html>
<html lang="en" ng-app="minesweeper">
<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap-3.3.4-dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/ui-bootstrap-tpls-0.13.0.min.js">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Minesweeper</title>
</head>
<body>
	<form class="text-center choices" ng-controller="mainCtrl">
		<h3>Choose Your Difficulty</h3>
		<button ng-click="createEasyGame()">Easy</button>
		<button ng-click="createNormalGame()">Normal</button>
		<button ng-click="createHardGame()">Hard</button>
	</form>

	<ng-view></ng-view>
	
	<script src="library/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.min.js"></script>
	<script src="library/jquery-2.1.3.min.js"></script>
	<script src="app.js"></script>
	<script src="controllers/mainCtrl.js"></script>
	<script src="controllers/easyCtrl.js"></script>
	<script src="controllers/normalCtrl.js"></script>
	<script src="controllers/hardCtrl.js"></script>
	<script src="services/mainService.js"></script>
	<script src="services/easyService.js"></script>
	<script src="services/normalService.js"></script>
	<script src="services/hardService.js"></script>
	<script src="directives/rcDirective.js"></script>
	<script src="directives/modalDirective.js"></script>
</body>
</html>